/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: league spartan, serif;
}

/* hero section */
.display-grid-one {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}

.hero-background-image {
  background-image: url(images/desktop-image-hero-1.jpg);
  width: 100%;
  height: 75vh;
  background-position: center;
  background-size: cover;
}

/* Navigation */
.navbar-logo-container {
  display: flex;
  align-content: center;
  gap: 80px;
  margin-top: 40px;
  margin-left: 60px;
}

.room-logo img {
  height: 13px;
  width: 65px;
  margin-top: 2px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-bar .menu {
  margin-left: 25px;
}

.hamburger-icon img {
  display: none;
}

/* Discover innovative section */
.discover-innovative {
  padding: 0 60px;
  text-align: justify;
  align-content: center;
  position: relative;
}

.discover-innovative-heading {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 700;
}

.discover-innovative-paragraph {
  color: grey;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}

.shop-now {
  margin-bottom: 100px;
}

.shop-now a {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 8px;
  text-decoration: none;
  color: #000;
}

.shop-now-icon {
  margin-left: 15px;
}

.icon-angle {
  background-color: black;
  padding: 22px;
  width: 91px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon-angle-right {
  margin-left: 13px;
  background-color: black;
  border: none;
}

.icon-angle-right:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.1);
}

.icon-angle-left {
  background-color: black;
  border: none;
  padding-left: 5px;
}

.icon-angle-left:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.1);
}

/* About furniture section*/
.display-grid-two {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.chair-furniture img {
  width: 100%;
  height: 100%;
}

.about-our-furniture {
  padding: 0 60px;
  text-align: justify;
  align-content: center;
}

.about-furniture-heading {
  font-size: 16px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.about-furniture-paragraph {
  font-size: 16px;
  color: grey;
  line-height: 20px;
}

/* Media query fo mobile */
@media (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    font-family: league spartan, serif;
  }

  .display-grid-one {
    display: block;
    position: relative;
  }

  .hero-background-image {
    background-image: url(images/desktop-image-hero-1.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: 100% 100%;
  }

  /* Navigation */
  .navbar-logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 70px;
    margin-top: 0;
    margin-left: 0;
    padding: 0 20px;
    padding-top: 30px;
  }

  .nav-bar a {
    display: none;
  }

  .room-logo img {
    height: 17px;
    width: 80px;
    margin-top: 0px;
  }

  .hamburger-icon img {
    display: block;
    width: 25px;
  }

  .hamburger-icon img:hover {
    transform: scale(1.1);
  }

  /* Discover innovative section */
  .discover-innovative {
    padding: 0 30px;
    text-align: justify;
    align-content: center;
  }

  .discover-innovative-heading {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  .icon-angle {
    background-color: black;
    padding: 22px;
    width: 91px;
    position: absolute;
    bottom: 100%;
    left: 68%;
  }

  /* About furniture section*/
  .display-grid-two {
    display: block;
  }

  .about-our-furniture {
    padding: 0 30px;
    text-align: justify;
    align-content: center;
  }

  .about-furniture-heading {
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 15px;
  }
}

/* Media query fo tablet */
@media (min-width: 577px) and (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
    font-family: league spartan, serif;
  }

  /* hero section */
  .display-grid-one {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
  }

  .hero-background-image {
    background-image: url(images/desktop-image-hero-1.jpg);
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: 100% 100%;
  }

  /* Navigation */
  .navbar-logo-container {
    display: flex;
    align-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .room-logo img {
    height: 13px;
    width: 50px;
    margin-top: 2px;
  }

  .nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  .nav-bar .menu {
    margin-left: 5px;
  }

  /* Discover innovative section */
  .discover-innovative {
    padding: 0 10px;
    text-align: justify;
    align-content: center;
    position: relative;
  }

  .discover-innovative-heading {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .discover-innovative-paragraph {
    color: grey;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 18px;
  }

  .shop-now a {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 6px;
    text-decoration: none;
    color: #000;
  }

  .shop-now-icon {
    margin-left: 10px;
  }

  .icon-angle {
    background-color: black;
    padding: 30px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .icon-angle-right {
    margin-left: 3px;
    background-color: black;
    border: none;
  }

  .icon-angle-left {
    background-color: black;
    border: none;
    padding-left: 2px;
  }

  /* About furniture section*/
  .display-grid-two {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .chair-furniture img {
    width: 100%;
    height: 122%;
    object-fit: cover;
  }

  .about-our-furniture {
    padding: 0 10px;
    text-align: justify;
    align-content: center;
    margin-top: 40px;
  }

  .about-furniture-heading {
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }

  .about-furniture-paragraph {
    font-size: 14px;
    color: grey;
    line-height: 20px;
  }

  .hero-background-image {
    background-image: url(images/desktop-image-hero-1.jpg);
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: cover;
  }
}

/* Media query fo mini laptop */
@media (min-width: 993px) and (max-width: 1200px) {
  /* hero section */
  .hero-background-image {
    background-image: url(images/desktop-image-hero-1.jpg);
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: 100% 100%;
  }

  /* Navigation */
  .navbar-logo-container {
    display: flex;
    align-content: center;
    gap: 80px;
    margin-top: 40px;
    margin-left: 60px;
  }

  /* Discover innovative section */
  .discover-innovative {
    padding: 0 40px;
    text-align: justify;
    align-content: center;
    position: relative;
  }

  .discover-innovative-heading {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  .icon-angle {
    background-color: black;
    padding: 22px;
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .icon-angle-right {
    margin-left: 4px;
    background-color: black;
    border: none;
  }

  .icon-angle-right:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.05);
  }

  .icon-angle-left {
    background-color: black;
    border: none;
    padding-left: 1px;
  }

  /* About furniture section*/
  .display-grid-two {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  .chair-furniture img {
    width: 100%;
    height: 100%;
  }

  .about-our-furniture {
    padding: 0 40px;
    text-align: justify;
    align-content: center;
  }
}

/* Media query fo 4k laptop */
@media (min-width: 1401px) {
  /* navigation: ; */
  .icon-angle {
    background-color: black;
    padding: 40px;
    width: 112px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .icon-angle-right {
    margin-left: 23px;
    background-color: black;
    border: none;
  }

  .icon-angle-right:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.05);
  }

  .icon-angle-left {
    background-color: black;
    border: none;
    padding-left: 5px;
  }
}
