body {
  margin: 0;
  padding: 0;
  font-family: league spartan, serif;
}

/* hero */
.display-grid-one {
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
}

.hero-background-image {
  background-image: url(images/desktop-image-hero-1.jpg);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

/* Navigation */
.navbar-logo-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 60px;
}

.room-logo img {
  height: 12px;
  width: 56px;
  margin-top: 2px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.contact-menu {
  margin-left: 20px;
}

.about-menu {
  margin-left: 20px;
}

.shop-menu {
  margin-left: 20px;
}

/* Discover innovative section */

.discover-innovative {
  margin: 0 auto;
  text-align: justify;
  align-content: center;
}
.discover-innovative-heading {
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: bold;
}

.discover-innovative-paragraph {
  color: grey;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 20px;
}

.shop-now {
  margin-bottom: 100px;
}

.shop-now a {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 8px;
  text-decoration: none;
  color: #000;
}

.shop-now-icon {
  margin-left: 15px;
}

.icon-angle {
  background-color: black;
  padding: 20px;
  width: 96px;
  margin-top: 0.4%;
  position: absolute;
  right: 32.5%;
}

.icon-angle-right {
  margin-left: 20px;
  background-color: black;
  border: none;
}

.icon-angle-right:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.05);
}

.icon-angle-left {
  background-color: black;
  border: none;
}

.icon-angle-left:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.05);
}

/* About furniture section*/
.display-grid-two {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
}

.about-our-furniture {
  padding: 10px;
  text-align: justify;
  align-content: center;
}

.about-furniture-heading {
  font-size: 12px;
  letter-spacing: 5px;
  margin: 10px 30px;
}

.about-furniture-paragraph {
  font-size: 13px;
  color: grey;
  line-height: 20px;
  margin: 10px 30px;
}

.chair-furniture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
