body {
  margin: 0;
  padding: 0;
  font-family: league spartan, serif;
}

/* navigation */

.display-grid-one {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}

.nav-bar-background-image {
  background-image: url(images/desktop-image-hero-1.jpg);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 60px;
}

.nav-bar-logo img {
  height: 12px;
  width: 56px;
  margin-top: 2px;
}

.nav-menu-items a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.contact-menu {
  margin-left: 20px;
}

.about-menu {
  margin-left: 20px;
}

.shop-menu {
  margin-left: 20px;
}

/* Discover innovative ways to decorate */

.discover-innovative {
  margin: 0 auto;
  text-align: justify;
  align-content: center;
}
.discover-innovative-heading {
  font-size: 38px;
  margin-bottom: 20px;
  font-weight: bold;
}

.discover-innovative-paragraph {
  color: grey;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 20px;
}

span {
  word-spacing: 10px;
  letter-spacing: 8px;
  font-size: 13px;
  font-weight: bold;
}

.shop-now-icon {
  margin-left: 15px;
}

.icon-angle {
  background-color: black;
  padding: 15px;
  width: 71px;
  margin-top: 5.2%;
  position: absolute;
  right: 32.5%;
}

.icon-angle-right {
  margin-left: 38px;
}

/* Furniture */
.display-grid-two {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr 0.6fr;
}

.about-our-furniture {
  margin: 0 auto;
  text-align: justify;
  align-content: center;
  width: 100%;
}

.about-furniture-heading {
  font-size: 14px;
  letter-spacing: 5px;
}

.about-furniture-paragraph {
  font-size: 15px;
  color: grey;
  line-height: 20px;
}

.black-colour-furniture {
  width: 100%;
  height: 266px;
}

.white-colour-furniture {
  width: 100%;
  height: 100%;
}
